.calendar-container {
    display: flex;
  }
  
  .sidebar-container {
    width: 300px;
    min-width: 200px;
    padding: 20px;
    background-color: #f7f7f7;
    border-right: 1px solid #e0e0e0;
    overflow-y: auto;
    height: 720px;
  }
  
  .sidebar {
    display: flex;
    flex-direction: column;
  }
  
  .event-date {
    margin-bottom: 20px;
  }
  
  .event-date h3 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .event-details {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .event-time {
    font-size: 14px;
    font-weight: bold;
    color: #666;
  }
  
  .event-title {
    margin-top: 4px;
  }
  
  .calendar-component {
    flex-grow: 1;
    padding: 20px;
  }

  .highlight {
    background-color: #f0f8ff;
    border-left: 4px solid #000000;
  }
  
  .view-tournament-details {
    font-size: 1rem;
    color: #000000;
    cursor: pointer;
    width: fit-content;
  }

  .view-tournament-details:hover {
    text-decoration: underline;
  }