@import url('https://fonts.cdnfonts.com/css/josefin-sans');

body {
    font-family: 'Josefin Sans' !important;
  }

.user-calendar {
    margin: 50px 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user-calendar-header {
    display: flex;
    gap: 20px;
}

@media (max-width: 768px){
    .user-calendar-header {
        flex-direction: column;
    }

    .user-calendar-header-buttons {
        margin-left: 0px !important;
    }
}

.user-calendar-header-title {
    
}

.user-calendar-header-buttons {
    background-color: #F5F5EF;
    border-radius: 25px;
    text-align: center;
    display: flex;
    max-width: fit-content;
    max-height: 44px;
    margin-left: auto;
}

.user-calendar-header-button {
    background-color: #F5F5EF;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    width: 200px;
}

.user-calendar-header-button.active {
    background-color: #8F3013;
    color: white;
    transition: 0.2s;
}

.user-calendar-query {
    display: flex;
    gap: 20px;
    align-items: center;
}

.searchbox {
    flex-grow: 1;
}

.filter-buttons {
    display: flex;
    align-items: center;
  }

.filter-icon {
    font-size: 20px;
    border: none;
    background-color: #F8F9FA;
    padding: 10px 20px;
    border-radius: 25px;
    padding: 10px;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .order-by {
    border: none;
    background-color: #F8F9FA;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
  }