# local env files
.env*.local

# vercel
.vercel

# backend
/firebase/serviceAccountKey.json
backend/tournament/src/main/resources/serviceAccountKey.json
### DS_Store ###
.DS_Store
/serviceAccountKey.json
.FIREBASE_CREDENTIALS.json

backend/tournament/src/main/java/com/app/tournament/FirebaseConfig.java