/* Filter Overlay */
.filter-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.filter-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.filter-section {
    margin-bottom: 20px;
}

.nationality-section .nationality-buttons button {
    margin: 5px;
    padding: 10px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
}

.nationality-section .add-nationality-button {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    font-size: 1.5rem;
    border: 1px solid #d1d1d1;
}

.range-input input {
    width: 40%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    margin-right: 10px;
}

.apply-button {
    width: 100%;
    padding: 15px;
    background-color: #A0522D;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.apply-button:hover {
    background-color: #8B4513;
}
