/* Registration Overlay */
.registration-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Registration Modal */
.registration-modal {
    background-color: #fff;
    border-radius: 10px;
    width: 650px; 
    max-width: 90%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

/* Registration Header */
.registration-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1.0px solid #C8C5C5;
    width: 94%;
    margin: 0 auto;
}

.registration-header h2 {
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

/* Close Button */
.close-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #333;
    transform: scale(2.0);
}


/* Registration Body */
.registration-body {
    padding: 20px;
    margin-top: 10px;
}


.form-group label {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    margin-bottom: 8px;
}

/* Add this CSS to target the specific label */
.form-group .verify-label {
    margin-bottom: 20px; /* Control the gap */
}


.input-group {
    margin-bottom: 25px;
}

.input-group input {
    width: 100%;
    padding: 10px 0 10px 12px;
    font-size: 1rem;
    border: 1px solid #d1d1d1;
    border-radius: 10px !important;;
    outline: none;
    box-sizing: border-box;
}

.input-row {
    display: flex;
    gap: 15px; /* Space between input fields */
}


.input-with-icon input {
    width: 100%;
    padding-right: 50px; 
    padding: 10px 0 10px 12px; /* Move the text */
    font-size: 1rem;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    outline: none;
    box-sizing: border-box;
    background-color: #f9f9f9; 
    cursor: not-allowed; /* Change cursor to indicate it's not editable */
}

.input-with-icon .lock-icon {
    position: absolute;
    right: 15px; /* Hhorizontal positioning */
    top: 70%;
    transform: translateY(-50%); /* Vertically center the icon */
    font-size: 1.0rem; 
    color: #8c8c8c;
    cursor: not-allowed; 
}

.date-buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap; /* Allow wrapping on small screens */
}

/* Registration Footer */
.registration-footer {
    padding: 20px;
    display: flex;
    justify-content: center;
}

/* Registration Button */
.registration-button {
    background-color: #8F3013; 
    border: none;
    color: #ffffff; 
    cursor: pointer;
    font-size: 1.2rem; 
    padding: 12px 0; 
    width: 100%; 
    max-width: 600px;
    text-align: center; /* Center text inside the button */
    border-radius: 10px; 
    margin: 20px auto 0; /* Center the button horizontally and add space above */
    display: block; /* Button takes up the full width */
}

.registration-button:hover {
    background-color: #73270e;
}

.registration-button:disabled {
    background-color: #d1d1d1; 
    cursor: not-allowed; /* Show not-allowed cursor when button is disabled */
}

.registration-button:hover:not(:disabled) {
    background-color: #73270e; 
}
