@import url('https://fonts.cdnfonts.com/css/josefin-sans');

/* General Styles */
body {
    font-family: 'Josefin Sans', sans-serif !important;
    margin: 0;
    padding: 0;
}

/* UserTournamentMatch Component */
.user-tournament-match {
    padding: 300px 40px; 
    width: 100%;
    background-color: #F5F5EF; 
    margin-top: -25px; 
}

/* Controls Container for Search and Filters */
.user-tournament-match .controls-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px auto 30px;
    padding: 0 50px;
    flex-wrap: wrap;
}

/* Search Bar Styles */
.user-tournament-match .search-bar {
    position: relative;
    width: 100%;
    max-width: 940px;
    flex-grow: 1;
    margin-right: 10px;
}

.user-tournament-match .search-bar input {
    width: 100%;
    padding: 10px 50px 10px 20px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    font-size: 1rem;
    height: 45px;
    color: #333;
}

.user-tournament-match .search-bar input::placeholder {
    color: #a1a1a1;
}

/* Search Icon inside the Search Bar */
.user-tournament-match .search-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 20px;
}

/* Button Styles for Filters or Rounds */
.user-tournament-match .buttons-container {
    display: flex;
    gap: 15px;
}

.user-tournament-match .filter-button,
.user-tournament-match .order-button {
    height: 45px;
    width: 120px;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    font-size: 1rem;
    color: #333;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.user-tournament-match .filter-button:hover,
.user-tournament-match .order-button:hover {
    background-color: #e0e0e0;
}

/* Filter Icon */
.user-tournament-match .filter-icon {
    width: 20px;
    height: 20px;
}

/* Dropdown Styles */
.user-tournament-match .dropdown {
    position: relative;
    width: 120px;
}

.user-tournament-match .dropdown-content {
    position: absolute;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    margin-top: 5px;
    z-index: 1;
    width: 100%;
    box-sizing: border-box;
}

.user-tournament-match .dropdown-item {
    padding: 10px;
    cursor: pointer;
    color: #333;
}

.user-tournament-match .dropdown-item:hover {
    background-color: #f0f0f0;
    border-radius: 5px;
}

/* Matches List */
.user-tournament-match .match-list {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Matches Table Styles */
.user-tournament-match .matches-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 10px;
}

/* Table Header Styles */
.user-tournament-match .matches-table th {
    font-weight: 600;
    color: #333333;
    padding: 10px 20px;
    border-bottom: 2px solid #e0e0e0;
    text-align: left;
    background-color: #f0f0f0;
}

/* Table Row Styles */
.user-tournament-match .matches-table tr {
    border-bottom: 1px solid #f5f5f5;
}

/* Table Cell Styles */
.user-tournament-match .matches-table td {
    font-weight: 500;
    color: #555555;
    padding: 15px 20px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Improved Hover Effects */
.user-tournament-match .matches-table tr:hover {
    background-color: #f0f0f0;
}

/* Round Title */
.user-tournament-match .round-title {
    font-size: 1.1rem;
    font-weight: bold;
    color: #8F3013;
    margin-bottom: 10px;
    margin-top: 30px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .user-tournament-match .controls-container {
        flex-direction: column;
        gap: 15px;
        margin: 15px auto;
    }
    .user-tournament-match .search-bar {
        width: 100%;
        margin-right: 0;
    }
    .user-tournament-match .round-button {
        width: 100%;
        text-align: center;
    }
    .user-tournament-match .matches-table td {
        font-size: 0.9rem;
    }
}
