.countdown-container {
    display: flex;
    align-items: top;
    justify-content: space-between;
    gap: 20px
  }
  
  .date-container {
    text-align: center;
  }
  
  .date-box {
    background-color: #8F3013;
    color: #FFFFFF;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .date-day {
    font-size: 25px;
    font-weight: bold;
  }
  
  .date-month {
    font-size: 14px;
  }
  
  .time {
    display: block;
    font-size: 16px;
    margin-top: 5px;
  }
  
  .countdown-box {
    display: flex;
    gap: 20px;
  }
  
  .countdown-element {
    text-align: center;
    background-color: #fff;
    border-radius: 12px;
    padding: 10px;
    min-width: 50px;
    display: flex;
    flex-direction: column;
    height: fit-content;
  }
  
  .count {
    font-size: 25px;
    font-weight: bold;
  }
  
  .label {
    font-size: 14px;
    color: #666;
  }