
/* Main card container styling */
.match-card {
    background-color: #F5F5EE;
    border-radius: 12px;
    padding: 5%;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Title styling */
  .match-title {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
  }
  
  /* Match details section */
  .match-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  /* Player section */
  .player {
    text-align: center;
  }
  
  /* Player icon */
  .player-icon {
    width: 50px;
    height: 50px;
    background-color: #6e6e6e;
    border-radius: 50%;
    margin-bottom: 8px;
  }
  
  /* Player name and country */
  .player-name {
    font-size: 16px;
    color: #333;
    margin: 0;
  }
  
  .player-country {
    font-size: 12px;
    color: #666;
    margin: 0;
  }
  
  /* Match score section */
  .match-score {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Score styling */
  .score {
    font-size: 36px;
    font-weight: bold;
    color: #000;
    margin: 0 5px;
  }
  
  /* Dash between scores */
  .dash {
    font-size: 24px;
    color: #666;
    margin: 0 10px;
  }
  
  /* Match time */
  .match-time {
    font-size: 14px;
    color: #666;
  }

.games-history {
  display: flex;
  cursor: pointer;
  color: #8F3013;
}

.games-history:hover {
  text-decoration: underline;
}