@import url('https://fonts.cdnfonts.com/css/josefin-sans');

body {
    font-family: 'Josefin Sans' !important;
  }

.signup {
    padding: 0px !important;
    display: flex;
}

.signup-slide-right {
    padding: 0px !important;
    background-color: #F5F5EE;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-slide-left {
    padding: 0px !important;
    background-color: #FFFFFF;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-content {
    text-align: center;
    padding: 0 15% !important;
}

.signup-details {
    text-align: left;
    padding-top: 10%;
}

.signup-button {
    height: 50px;
    width: 100%;
    border-radius: 10px;
    margin: 5px 0px !important;
}

.googleButton svg {
    margin-right: 10px;
}


.signup-button:hover {
    background-color: #b42020 !important;
}

.googleButton:hover {
    background-color: #f1f1f1 !important;
} 

.divider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
  }
  
  .divider-line {
    flex-grow: 1;
    height: 1px;
    background-color: #000000;
    border: none;
  }
  
  .divider-text {
    padding: 0 10px;
    font-size: 14px;
  }
  
  .sign-up-link {
    color: black;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .sign-up-link:hover {
    color: darkblue;
  }